<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.legec.imgsearch.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true">
        <activity
            android:name=".activity.StartActivity_"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResultActivity_"
            android:label="Results"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.MenuActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity_"
            android:label="Settings"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.ImagePreviewActivity_"
            android:label="Preview"
            android:theme="@style/AppTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.legec.imgsearch.app.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
